.facturation{
    display: grid;
    grid-gap: 20px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
}

th {
    background-color: #333;
    color: white;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #6d6a6a;
}

@media (max-width: 768px) {
    table {
        display: inline-block;
        overflow-x: scroll;
    }
}

.fontbouton {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  button {
    background-color: #4CAF50; /* couleur de fond */
    color: white; /* couleur du texte */
    padding: 12px 24px; /* taille du padding */
    border-radius: 20px; /* arrondi des coins */
    border: none; /* pas de bordure */
    margin-right: 10px; /* marge entre les boutons */
    font-size: 18px; /* taille de police */
    cursor: pointer; /* curseur pointer au survol */
    transition-duration: 1.0s; /* durée de l'animation */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* ombre */
  }
  
  button:hover {
    background-color: #ffcc00; /* couleur de fond au survol */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* effet d'ombre au survol */
  }
  
